<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Jorden Hill</string>
	<key>Builder Version</key>
	<string>10600.3.10.2</string>
	<key>CFBundleDisplayName</key>
	<string>Rikaitan</string>
	<key>CFBundleIdentifier</key>
	<string>com.jordenhill.rikaitan</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9.1</string>
	<key>CFBundleVersion</key>
	<string>4.1.1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>1048576</real>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>button</string>
				<key>Identifier</key>
				<string>Button</string>
				<key>Image</key>
				<string>toolbaricon.png</string>
				<key>Label</key>
				<string>Rikaitan</string>
				<key>Tool Tip</key>
				<string>Enable or disable Rikaitan</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>rikaitan.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>A Rikai port built for Safari.</string>
	<key>DeveloperIdentifier</key>
	<string>773ZK9CN4J</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://github.com/jordenhill/Rikaitan/raw/master/rikaitan.safariextension/updates.plist</string>
	<key>Website</key>
	<string>http://github.com/jordenhill</string>
</dict>
</plist>
