<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.jordenhill.rikaitan</string>
			<key>Developer Identifier</key>
			<string>773ZK9CN4J</string>
			<key>CFBundleVersion</key>
			<string>5.0</string>
			<key>CFBundleShortVersionString</key>
			<string>2.0</string>
			<key>URL</key>
			<string>https://github.com/jordenhill/Rikaitan/releases/download/2.0/rikaitan.safariextz</string>
		</dict>
	</array>
</dict>
</plist>
