<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.jordenhill.safari.rikaitan</string>
			<key>Developer Identifier</key>
			<string>773ZK9CN4J</string>
			<key>CFBundleVersion</key>
			<string>1</string>
			<key>CFBundleShortVersionString</key>
			<string>1.70.6</string>
			<key>URL</key>
			<string>http://github.com/jordenhill/Rikaitan/raw/master/rikaitan.safariextz</string>
		</dict>
	</array>
</dict>
</plist>
